{
  "presets": [
    "react",
    ["env", {
      "targets": {
        "browsers": [
          "last 2 versions",
          "ie >= 11",
          "safari >= 10"
        ]
      },
      "useBuiltIns": true
    }]
  ],
  "plugins": ["react-hot-loader/babel"]
}
