{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.babel.js"
      }
    }
  },
  "rules": {
    "comma-dangle": ["error", "only-multiline"],
    "react/jsx-filename-extension": ["warn", {
      "extensions": [".js", ".jsx"]
    }]
  }
}
